.tp-caption.White-Title, .White-Title {
font-size:20px;
line-height:26px;
font-weight:600;
font-family:"PT Sans Caption";
color:#ffffff;
text-decoration:none;
background-color:transparent;
border-width:0px;
border-color:rgb(255, 255, 255);
border-style:none;
text-shadow:none;
text-align:center;
later-spacing:1px;
type:text;
}

.tp-caption.white-h1, .white-h1 {
font-size:40px;
line-height:40px;
font-weight:300;
font-family:Cinzel;
color:rgb(255, 255, 255);
text-decoration:none;
padding:0px;
background-color:transparent;
border-width:0px;
border-color:rgb(255, 255, 255);
border-style:none;
type:text;
}

